{% extends "layout.html" %}

{% block body %}

  <div class="col-md-12">
    <h2>{{ survey.survey_title }}</h2>

    {% for q in question %}
      <h3>{{ q.question }}</h3>
    {% endfor %}

    <form action="{{ url_for('submit') }}" method="POST" class="">
    <div class="answers_form">
      {{ form.hidden_tag() }}

      {% if errors %}
        {% for error in errors['answers'] %}
          <div><p style="color: red;">{{ error }}</p></div>
        {% endfor %}
      {% endif %}

      {% for x in form.answers %}
      <div class="radio">
        <label class="radio_btn">{{ x(class_='radio') }}{{ x.data }}</label>
      </div>
      {% endfor %}
    </div>

      <div class="nav_buttons">
        {% if prev_url %}
          <a href="{{ prev_url }}" class="btn btn-default pull-left">Back</a>
        {% else %}
          <a href="{{ url_for('home') }}" class="btn btn-default pull-left">Back</a>
        {% endif %}

        {% if next_url %}
          <input type="submit" class="btn btn-info pull-right" value="Next">
        {% else %}
          <input type="submit" class="btn btn-info pull-right" value="Complete">
        {% endif %}
      </div>
    </form>

    </div>

  </div>
{% endblock %}
